services:
  mediamtx:
    image: bluenviron/mediamtx:latest
    restart: unless-stopped
    ports:
      - "8888:8888"
      - "8889:8889/tcp"
      - "8189:8189/udp"
    volumes:
      - ./mediamtx.yml:/mediamtx.yml:ro